<div class="head_part">
    <div>
        <table>
            <tr>
                <td style="border: none; text-align: center">
                    <img src="/public/images/logofhi.png" width="120">
                </td>
                <td style="border: none; text-align: center">
                    <img src="/public/images/teacher.png" width="120">
                </td>
            </tr>
        </table>
    </div>
    <span class="diploma_title">Globálny distribuovaný systém rýchlej spätnej väzby adaptívneho riadenia prednášok</span>
</div>